* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
#cardId {
  background-color: rgb(242, 242, 242);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  margin: 20px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
}
#cardId2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px;
  justify-items: center;
  padding: 50px;
  border: 1px solid rgb(146, 34, 34);
  background-color: rgb(242, 242, 242);
}

#epImageId,
#shImageId {
  border-radius: 10px;
}
#epTitle {
  color: rgb(146, 34, 34);
  margin: 10px;
}
p {
  font-style: italic;
  margin: 10px;
}
#searchInputId {
  margin: 20px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(242, 242, 242);
  border-color: rgb(146, 34, 34);
  font-style: italic;
}
#searchDisplayId {
  font-style: italic;
  font-size: 24px;
}
#selectBox,
#selectBox2 {
  margin: 20px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(242, 242, 242);
  border-color: rgb(146, 34, 34);
  font-style: italic;
}
footer {
  height: 100px;
  background-color: rgb(242, 242, 242);
  color: rgb(146, 34, 34);
  font-size: larger;
  font-style: italic;
  font-weight: bold;
}
#license-right {
  text-align: center;
}
